{% extends "layout.html" %}
{% block content %}

  <header class="top-header">
    <div class="header-left">
      <div class="title">Paws and Purrs</div>
      <div class="subtitle">A pet information website.</div>
    </div>
    <div class="header-search">
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Search for a pet.." class="search-input" autocomplete="off" oninput="showSuggestions()">
        <div id="autocomplete-list" class="autocomplete-items"></div>
      </div>
    </div>
  </header>

  <div class="container-group">

    <a href="{{ url_for('routes.dogs') }}" class="pet-link">
      <div class="pet-container">
        <div class="pet-title">Dogs</div>
      </div>
    </a>

    <a href="{{ url_for('routes.cats') }}" class="pet-link">
      <div class="pet-container">
        <div class="pet-title">Cats</div>
      </div>
    </a>

    <a href="{{ url_for('routes.other_pets') }}" class="pet-link">
      <div class="pet-container">
        <div class="pet-title">Other</div>
      </div>
    </a>
  </div>

  <div class="container-group" style="margin-top: 32px;">
    <a href="{{ url_for('routes.breeder_price') }}" class="pet-link">
      <div class="pet-container price-category">
        <div class="pet-title">Breeder Price</div>
        <div class="pet-desc">See the price for purchasing from a breeder.</div>
      </div>
    </a>
    <a href="{{ url_for('routes.adoption_price') }}" class="pet-link">
      <div class="pet-container price-category">
        <div class="pet-title">Adoption Price</div>
        <div class="pet-desc">See the price for adopting from a shelter or rescue.</div>
      </div>
    </a>
  </div>


  <script>
    // Pass the pet names from Flask to JavaScript
    // The error flags for this line of code are false positives
    const petNames = {{ pet_names|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
</body>
</html>