{% extends "layout.html" %}
{% block content %}

<h1>Other Pets</h1>
<p>Discover unique and interesting pets beyond cats and dogs!</p>

<div class="container-row">
  {% if results %}
    {% for item in results %}
      <a href="{{ url_for('routes.item_detail', table='Other', item_id=item['id']) }}" style="color:inherit; text-decoration:none;">
        <div class="container-box" style="position: relative; display: inline-block; cursor:pointer;">
          <img src="{{ url_for('static', filename='images/' ~ item['image']) }}" alt="{{ item['name'] }}" style="display: block; width: 100%;">
          <h5>{{ item['name'] }}</h5>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p>No other pets found in the database.</p>
  {% endif %}
</div>

{% endblock %}